* {
  box-sizing: border-box;
  padding: 0;
}

body {
  overflow: hidden;
}
h2 {
  display: flex;
  font-size: 1.5rem;
  color: black;
}
#square {
  background: radial-gradient(white 10%, yellow 50%, red 100%);
  width: 100px;
  height: 100px;
  position: absolute;
}

#obstacle {
  background-color: blue;
  width: 150px;
  height: 150px;
  position: absolute;
  transform: translate(400px, 300px);
}
