* {
  box-sizing: border-box;
  padding: 0;
}

body {
  overflow: hidden;
}

#square {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(100px, 200px);
}

#obstacle {
  background-color: blue;
  width: 150px;
  height: 150px;
  position: absolute;
  transform: translate(400px, 300px);
}
